{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Helvetica:wght@700&display=swap" />
    <link type="text/css" href="{% static 'css/register.css' %}" rel="stylesheet" />
</head>
<body>
    <div class="main-container">
        <div class="frame-34">
            <div class="rectangle"></div>
            <div class="frame-35">
                <div class="frame-36">
                    <div class="frame-37"><span class="register-me">REGISTRARME</span></div>
                    <div class="frame-38">
                        <form method="post">
                            {% csrf_token %}
                            <div class="frame-variant-39">
                                <input class="frame-variant-input" type="email" name="email" required />
                                <span class="mail">Mail</span>
                            </div>
                            <div class="frame-3a">
                                <div class="frame-variant-3b">
                                    <input class="frame-variant-input-3c" type="text" name="first_name" required />
                                    <span class="mail-3d">Nombre</span>
                                </div>
                                <div class="frame-variant-3e">
                                    <input class="frame-variant-input-3f" type="text" name="last_name" required />
                                    <span class="mail-40">Apellido</span>
                                </div>
                            </div>
                            <div class="frame-41">
                                <div class="frame-variant-42">
                                    <input class="frame-variant-input-43" type="password" name="password1" required />
                                    <span class="mail-44">Contraseña</span>
                                </div>
                            </div>
                            <button type="submit" class="frame-4b">
                                <span class="registrarme-4c">Continuar</span>
                            </button>
                        </form>
                    </div>
                    <div class="line"></div>
                    <div class="frame-4d"></div>
                    <div class="ya-tengo-cuenta">
                        <span class="ya-tengo-cuenta-50">Ya tengo cuenta,</span>
                        <span class="space"> </span>
                        <a href="{% url 'login' %}" class="iniciar-sesion">Iniciar sesión</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
