:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }
  
  .main-container {
    overflow: hidden;
  }
  
  .main-container,
  .main-container * {
    box-sizing: border-box;
  }
  
  input,
  select,
  textarea,
  button {
    outline: 0;
  }
  
  .main-container {
    position: relative;
    width: 1440px;
    height: 1643px;
    margin: 0 auto;
    background: #ffffff;
    overflow: hidden;
  }
  .frame-variant {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 169px;
    position: relative;
    width: 1440px;
    height: 134px;
    margin: 0 0 0 0;
    background: #ffffff;
  }
  .frame {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 12px;
    position: relative;
    width: 272px;
    z-index: 1;
  }
  .frame-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 12px;
    position: relative;
    width: 130px;
    height: 48px;
    padding: 4px 4px 4px 4px;
    cursor: pointer;
    background: #eeeeee;
    border: none;
    z-index: 2;
    border-radius: 4px;
  }
  .menu {
    flex-shrink: 0;
    position: relative;
    width: 36px;
    height: 36px;
    background: url(./assets/images/a3449c01-cdf0-4b15-ac8c-a1fd3005ed7b.png)
      no-repeat center;
    background-size: cover;
    z-index: 3;
    overflow: hidden;
  }
  .menu-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    width: 74px;
    height: 26px;
    color: #808080;
    font-family: Roboto, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    letter-spacing: 0.4px;
    z-index: 4;
  }
  .frame-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 12px;
    position: relative;
    width: 130px;
    height: 48px;
    padding: 4px 4px 4px 4px;
    background: #eeeeee;
    z-index: 5;
    overflow: hidden;
    border-radius: 4px;
  }
  
  .buscar-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 130px;
    height: 48px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .search-icon {
    flex-shrink: 0;
    position: relative;
    width: 30px;
    height: 30px;
    background: url(./assets/images/605c9696-cc91-45de-9e9b-0f0fdc94b0e7.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 6;
  }
  
  .buscar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    width: 74px;
    height: 26px;
    color: #808080;
    font-family: Roboto, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    letter-spacing: 0.4px;
    z-index: 7;
  }
  
  .frame-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 12px;
    position: relative;
    width: 311px;
    height: 64px;
    z-index: 9;
  }
  .capa {
    flex-shrink: 0;
    position: relative;
    width: 223px;
    height: 63px;
    z-index: 10;
    overflow: hidden;
  }
  .vector {
    position: absolute;
    width: 20.76%; 
    height: 76.83%; 
    top: 23.17%; 
    left: 20%;       
    background: url('/static/images/2.png') no-repeat center; 
    background-size: 100% 100%; 
    z-index: 12; 
}


.vector-3 {
    position: absolute;
    width: 20.76%;
    height: 76.83%;
    top: 23.17%; 
    left: 62.13%; 
    background: url('/static/images/4.png') no-repeat center;
    background-size: 100% 100%;
    z-index: 14;
}
.vector-4 {
  position: absolute;
  width: 20.76%;    
  height: 76.83%; 
  top: 23.17%; 
  left: -1%;       
  background: url('/static/images/1.png') no-repeat center; 
  background-size: 100% 100%; 
  z-index: 11; 
}
.vector-5 {
    position: absolute;
    width: 20.75%;
    height: 76.83%;
    top: 23.17%;
    left: 40.51%;
    background: url('/static/images/3.png') no-repeat center;
    background-size: 100% 100%;
    z-index: 13;
}
.vector-6 {
  position: absolute;
  width: 22.76%; 
  height: 76.8%; 
  top: 23.17%; 
  left: 81.78%;  
  background: url('/static/images/5.png') no-repeat center; 
  background-size: 100% 100%; 
  z-index: 15; 
}

  .frame-7 {
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 24px;
    position: relative;
    width: 231px;
    height: 48px;
    z-index: 16;
  }
  .frame-button-8 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 159px;
    height: 47px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    background: #3d6a4f;
    border: none;
    z-index: 17;
    border-radius: 4px;
  }
  .registrarme {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    min-width: 0;
    height: 44px;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 20px;
    font-weight: 700;
    line-height: 44px;
    text-align: center;
    white-space: nowrap;
    z-index: 18;
  }
  .account-circle {
    width: 48px;                      
    height: 48px;                    
    border-radius: 50%;               
    background-color: #ccc;           
    overflow: hidden;                  
    position: relative;                
    flex-shrink: 0;                   
    z-index: 19;                      
}
.account-circle img {
  width: 100%;                      /* ver si vamos a poner una foto estática o una según el que cargan cuando crean una cuenta */
  height: 100%;                     
  object-fit: cover;                
}

 /* HEADER  HEADER  HEADER  HEADER  HEADER  HEADER 
 ----------------------  ----------------------  ----------------------  ----------------------
 ----------------------  ----------------------  ----------------------  ----------------------
  FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */

  .frame-21 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    position: absolute;
    width: 1462px;
    height: 775px;
    top: 934px;
    left: -11px;
    z-index: 21;
  }
  .frame-22 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 152px;
    position: relative;
    width: 1443px;
    height: 365px;
    padding: 44px 0 0 0;
    background: #000000;
    z-index: 22;
  }
  .frame-23 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 315px;
    z-index: 23;
  }
  .trend {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 187px;
    padding: 10px 10px 10px 10px;
    z-index: 24;
  }
  .frame-24 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 28px;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    white-space: nowrap;
    z-index: 25;
  }
  .trend-25 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 196px;
    padding: 10px 10px 10px 10px;
    z-index: 26;
  }
  .frame-26 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 28px;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    white-space: nowrap;
    z-index: 27;
  }
  .wrapper-a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 160px;
    padding: 10px 10px 10px 10px;
    z-index: 28;
  }
  .tendencia-archivo {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 28px;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    white-space: nowrap;
    z-index: 29;
  }
  .frame-27 {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    min-width: 0;
    padding: 10px 10px 10px 10px;
    z-index: 30;
  }
  .tendencia-startup {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 28px;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    white-space: nowrap;
    z-index: 31;
  }
  .frame-28 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 54px;
    position: relative;
    width: 315px;
    z-index: 32;
  }
  .frame-29 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    min-width: 0;
    z-index: 33;
  }
  .frame-2a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 244px;
    padding: 10px 10px 10px 10px;
    z-index: 34;
  }
  .tendencia-quienes-somos {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 28px;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    white-space: nowrap;
    z-index: 35;
  }
  .frame-2b {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 228px;
    padding: 10px 10px 10px 10px;
    z-index: 36;
  }
  .tendencia-contactanos {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 28px;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    white-space: nowrap;
    z-index: 37;
  }
  .frame-2c {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 24px;
    position: relative;
    width: 284px;
    z-index: 38;
  }
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 53px;
    height: 50px;
    padding: 3px 20px 3px 20px;
    cursor: pointer;
    background: #3d6a4f;
    border: none;
    z-index: 39;
    border-radius: 4px;
  }
  .f {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 28px;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 32px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    white-space: nowrap;
    z-index: 40;
  }
  .button-2d {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 53px;
    height: 50px;
    padding: 3px 20px 3px 20px;
    cursor: pointer;
    background: #3d6a4f;
    border: none;
    z-index: 41;
    border-radius: 4px;
  }
  .f-2e {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 28px;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 32px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    white-space: nowrap;
    z-index: 42;
  }
  .component {
    flex-shrink: 0;
    position: relative;
    width: 53px;
    height: 50px;
    z-index: 43;
    border-radius: 4px;
  }
  .component-2f {
    position: relative;
    width: 24px;
    height: 24px;
    margin: 13px 0 0 15px;
    background: url(./assets/images/37855548-318f-4212-abd5-374c34f82a39.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 46;
  }
  .frame-30 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 3px 20px 3px 20px;
    background: #3d6a4f;
    z-index: 44;
    border-radius: 4px;
  }
  .f-31 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 28px;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 32px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    white-space: nowrap;
    z-index: 45;
  }
  .component-32 {
    flex-shrink: 0;
    position: relative;
    width: 53px;
    height: 50px;
    z-index: 47;
    border-radius: 4px;
  }
  .polygon {
    position: relative;
    width: 37.241px;
    height: 37.241px;
    margin: 6px 0 0 7px;
    background: url(./assets/images/61de1145-66bf-4496-9242-bc4bf8c0c122.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 49;
  }
  .frame-33 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 3px 20px 3px 20px;
    background: #3d6a4f;
    z-index: 48;
    border-radius: 4px;
  }
  .frame-34 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 31px;
    position: relative;
    width: 326px;
    z-index: 50;
  }
  .capa-35 {
    flex-shrink: 0;
    position: relative;
    width: 326px;
    height: 91px;
    z-index: 51;
    overflow: hidden;
  }
  .vector-36 {
    position: absolute;
    width: 20.75%;    
    height: 76.83%;   
    top: 23.17%;      
    left: 21.56%;
    background: url('/static/images/7.png') no-repeat center;
    background-size: 100% 100%;
    z-index: 53;
}

.vector-37 {
    position: absolute;
    width: 20.75%;    
    height: 76.83%;   
    top: 23.17%;
    left: 0;
    background: url('/static/images/6.png') no-repeat center;
    background-size: 100% 100%;
    z-index: 52;
}

.vector-38 {
    position: absolute;
    width: 20.75%;    
    height: 76.83%;   
    top: 23.17%;
    left: 40.52%;
    background: url('/static/images/8.png') no-repeat center;
    background-size: 100% 100%;
    z-index: 54;
}

.vector-39 {
    position: absolute;
    width: 20.75%;    
    height: 76.83%;   
    top: 23.17%;
    left: 62.14%;
    background: url('/static/images/9.png') no-repeat center;
    background-size: 100% 100%;
    z-index: 55;
}

.vector-3a {
    position: absolute;
    width: 20.75%;    
    height: 76.83%;   
    top: 23.17%;
    left: 83.77%;
    background: url('/static/images/10.png') no-repeat center;
    background-size: 100% 100%;
    z-index: 56;
}

  .frame-3b {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 269px;
    padding: 10px 10px 10px 10px;
    z-index: 57;
  }
  .address {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    width: 249px;
    height: 56px;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    z-index: 58;
  }
  .capa-3c {
    flex-shrink: 0;
    position: relative;
    width: 1462px;
    height: 410px;
    background: #000000;
    z-index: 59;
    overflow: hidden;
  }
  .vector-3d {
    position: absolute;
    width: 18.09%;
    height: 99.99%;
    top: 0;
    left: 21.56%;
    background: url(./assets/images/fe901df1-13ac-43b5-b896-f424c50e25bf.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 61;
  }
  .frame-3e {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 10px;
    position: absolute;
    width: 146px;
    height: 48px;
    top: 13px;
    left: 952px;
    padding: 10px 10px 10px 10px;
    z-index: 65;
  }
  .neust-3f {
    flex-shrink: 0;
    position: relative;
    width: 126px;
    font-family: Roboto, var(--default-font-family);
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    text-overflow: initial;
    white-space: nowrap;
    z-index: 66;
  }
  .copyright {
    position: relative;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
  }
  .neust-2024 {
    position: relative;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 20px;
    font-weight: 900;
    line-height: 28px;
    text-align: left;
  }
  .vector-40 {
    position: absolute;
    width: 20.68%;
    height: 76.83%;
    top: 23.17%;
    left: 0%; 
    background: url('/static/images/6.png') no-repeat center;
    background-size: 100% 100%;
    z-index: 60;
}

.vector-41 {
    position: absolute;
    width: 20.75%;
    height: 76.83%;
    top: 23.17%;
    left: 20.5%; 
    background: url('/static/images/7.png') no-repeat center;
    background-size: 100% 100%;
    z-index: 62;
}

.vector-42 {
    position: absolute;
    width: 20.75%;
    height: 76.83%;
    top: 23.17%;
    left: 41%; 
    background: url('/static/images/8.png') no-repeat center;
    background-size: 100% 100%;
    z-index: 63;
}

.vector-43 {
    position: absolute;
    width: 20.75%;
    height: 76.82%;
    top: 23.17%;
    left: 61.5%; 
    background: url('/static/images/9.png') no-repeat center;
    background-size: 100% 100%;
    z-index: 64;
}

.vector-44 {
    position: absolute;
    width: 20.75%;
    height: 76.82%;
    top: 23.17%;
    left: 81.5%; 
    background: url('/static/images/10.png') no-repeat center;
    background-size: 100% 100%;
    z-index: 64;
}

  .frame-44 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 10px;
    position: absolute;
    width: 173px;
    height: 67px;
    top: 980px;
    left: 753px;
    padding: 0 0 0 0;
    z-index: 20;
  }
  