{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>about_us</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" />
    <link type="text/css" href="{% static 'css/about_us.css' %}" rel="stylesheet" />
  </head>
  <body>
    <div class="main-container">
      <div class="frame-variant">
        <div class="frame">
          <button class="frame-1">
            <div class="menu"></div>
            <span class="menu-2">Inicio</span>
          </button>
        </div>
        <div class="frame-4">
          <div class="capa">
            <div class="vector"></div>
            <div class="vector-5"></div>
            <div class="vector-6"></div>
            <div class="vector-7"></div>
            <div class="vector-8"></div>
          </div>
        </div>
        <div class="frame-9">
          <button class="frame-a">
            <span class="registrarme">REGISTRARME</span>
          </button>
          <div class="account-circle"></div>
        </div>
      </div>
      <div class="frame-b">
        <div class="frame-c">
          <div class="neust-quienes-somos">
            <span class="neust">NEUST ></span><span class="empty"> </span
            ><span class="quienes-somos-d">QUIENES SOMOS</span>
          </div>
        </div>
        <div class="frame-e">
          <div class="frame-f">
            <div class="frame-10">
              <span class="span-hola">¡HOLA!</span>
              <div class="frame-11">
                <div class="div-comision-informatorio">
                  <span class="span-grupo">Somos el</span
                  ><span class="span-grupo-9"> Grupo 9</span
                  ><span class="span-grupo-12"> de la </span
                  ><span class="span-grupo-9-13">Comisión 3</span
                  ><span class="span-grupo-14"> del </span
                  ><span class="span-grupo-9-15">Informatorio</span
                  ><span class="span-compuesto-por"
                    >, el cual está compuesto por:</span
                  >
                </div>
              </div>
            </div>
            <div class="frame-16">
              <div class="frame-17">
                <div class="ellipse"></div>
                <span class="span-niveiro">NIVEIRO, Gianfranco</span>
              </div>
              <div class="frame-18">
                <div class="ellipse-19"></div>
                <span class="span-miranda">MIRANDA, Romina</span>
              </div>
              <div class="frame-1a">
                <div class="ellipse-1b"></div>
                <span class="span-graffunder">GRAFFUNDER, Maximiliano</span>
              </div>
              <div class="frame-1c">
                <div class="ellipse-1d"></div>
                <span class="span-azcoaga">AZCOAGA, Florencia</span>
              </div>
            </div>
          </div>
          <div class="div-segunda-etapa">
            <span class="equipo-informatorio"
              >Estamos en la segunda etapa,donde nos toca resolver </span
            ><span class="veronica-eschenmoser">un blog noticias</span
            ><span class="equipo-informatorio-1e">
              dentro del área “tecnología”; para abordar su desarrollo
              utilizamos </span
            ><span class="veronica-eschenmoser-1f"
              >HTML, Django, Python y SQLite</span
            ><span class="equipo-informatorio-20"
              >, en cuanto al diseño, lo resolvimos en</span
            ><span class="veronica-eschenmoser-21">
              Figma, Illustrator y Photoshop</span
            ><span class="equipo-informatorio-22">; al</span
            ><span class="veronica-eschenmoser-23"> ERD</span
            ><span class="equipo-informatorio-24"> lo planteamos en</span
            ><span class="veronica-eschenmoser-25"> Miró</span
            ><span class="equipo-informatorio-26">
              y como repositorio acudimos a </span
            ><span class="veronica-eschenmoser-27">GitHub</span
            ><span class="equipo-informatorio-28"
              >.<br /><br />Además de usar estas herramientas, no comunicamos
              por Discord, intentando aplicar metodologías ágiles como scrum y
              nos asignábamos actividades en Trello.<br /><br />Es así como
              llegamos a crear </span
            ><span class="veronica-eschenmoser-29">Nëuts</span
            ><span class="equipo-informatorio-2a"
              >. <br /><br />Es una construcción fonética derivada de </span
            ><span class="neo">"news"</span
            ><span class="equipo-informatorio-2b"
              >, enriquecida con una onomatopeya que combina</span
            ><span class="neo-2c"> "Neo"</span
            ><span class="equipo-informatorio-2d"
              >, un término griego que significa</span
            ><span class="neo-2e"> "nuevo"</span
            ><span class="equipo-informatorio-2f"> o</span
            ><span class="neo-30"> "futuro"</span
            ><span class="equipo-informatorio-31">, con </span
            ><span class="neo-32">"News"</span
            ><span class="equipo-informatorio-33"
              >, que se refiere a noticias o plataformas informativas en inglés.
              Además, incorpora las iniciales de </span
            ><span class="neo-34">"Startup"</span
            ><span class="equipo-informatorio-35">
              (ST). Esta fusión da lugar a una palabra distintiva que, al ser
              pronunciada, evoca una interpretación creativa de</span
            ><span class="neo-36"> "news"</span
            ><span class="equipo-informatorio-37"
              >.<br /><br />Con este enfoque, la marca busca establecerse como
              una web accesible y cercana al público en general, diferenciándose
              de la competencia, que a menudo se presenta de manera más fría y
              distante.<br /><br />Esperamos que disfruten navegar en la web
              como a nosotros nos gustó hacerlo.<br /><br />Agradecemos a </span
            ><span class="veronica-eschenmoser-38">Franco Santa Cruz</span
            ><span class="equipo-informatorio-39"> y a </span
            ><span class="veronica-eschenmoser-3a">Verónica Eschenmoser</span
            ><span class="equipo-informatorio-3b">
              por guiarnos, enseñarnos y corregirnos para alcanzar este
              resultado; a todo el equipo del </span
            ><span class="veronica-eschenmoser-3c">Informatorio</span
            ><span class="equipo-informatorio-3d">
              que nos brindó un espacio único de conocimiento gratuito y
              aplicado; también a las personas que nos acompañaron a través de
              este proceso para completar la segunda etapa con éxito.<br /><br /><br /></span
            ><span class="agradecimiento-grupo-9"
              >¡Muchas gracias! De parte de todo el grupo 9 :)</span
            >
          </div>
        </div>
      </div>
      <div class="group-6">
        <div class="wrapper-8">
          <div class="section-4">
            <div class="wrapper-9">
              <span class="tendencia"></span>
            </div>
            <div class="group-7">
              <span class="esenciales"></span>
            </div>
            <div class="box-6"><span class="archivo"></span></div>
            <div class="wrapper-a">
              <span class="que-es-una-startup"></span>
            </div>
          </div>
          <div class="box-7">
            <div class="box-8">
              <div class="wrapper-b">
                <span class="quienes-somos-3e">QUIÉNES SOMOS</span>
              </div>
              <div class="group-8">
                <span class="contactanos">CONTACTANOS</span>
              </div>
            </div>
          </div>
          <div class="frame-42">
            <div class="capa-43">
              <div class="vector-44"></div>
              <div class="vector-45"></div>
              <div class="vector-46"></div>
              <div class="vector-47"></div>
              <div class="vector-48"></div>
            </div>
            <div class="frame-49">
              <span class="span-4a"
                >Address: Av. Belgrano 1110 - Resistencia - Chaco</span
              >
            </div>
          </div>
        </div>
        <div class="capa-4b">
          <div class="vector-4c"></div>
          <div class="frame-4d">
            <div class="neust-4e">
              <span class="copy-right">© </span
              ><span class="neust-4f">Neust 2024</span>
            </div>
          </div>
          <div class="vector-50"></div>
          <div class="vector-51"></div>
          <div class="vector-52"></div>
          <div class="vector-53"></div>
          <div class="vector-54"></div>
        </div>
      </div>
    </div>
  </body>
</html> 