{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>landing_page</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;800;900&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@400&display=swap" />
    <link type="text/css" href="{% static 'css/landing_page.css' %}" rel="stylesheet" />

  </head>
  <body>
    <div class="main-container">
      <div class="frame">
        <div class="cotizacion-monedas">
          <span class="cotizacion-monedas-1"
            >COTIZACIÓN DE LAS MONEDAS CON RESPECTO AL PESO ARGENTINO:</span
          ><span class="cotizacion-monedas-2">
            Dólar oficial compra $951,43 / venta $1009,76 // Dólar tarjeta
            $1615,62 // Euro compra $1056,04 / venta $1123,22 // Real compra
            $180,50 / venta $190,50 // Yuan compra 13405.35 /
          </span>
        </div>
      </div>
      <div class="frame-3">
        <div class="frame-4">
          <div class="frame-5">
            <div class="menu"></div>
            <button class="menu-button">Inicio</button>
          </div>
          <div class="frame-6">
            <div class="search-icon"></div>
            <span class="buscar">Buscar</span>
          </div>
        </div>
        <div class="frame-7">
          <div class="logo">
            <div class="capa">
              <div class="vector"></div>
              <div class="vector-8"></div>
              <div class="vector-9"></div>
              <div class="vector-a"></div>
              <div class="vector-b"></div>
            </div>
          </div>
          <div class="frame-c">
            <span class="time-date">08:19 10/10/2024 </span>
            <div class="vector-d"></div>
          </div>
        </div>
        <div class="frame-e">
          <div class="frame-f">
            <span class="registrarme">REGISTRARME</span>
          </div>
          <div class="account-circle"></div>
        </div>
      </div>
       <!-- HEADER  HEADER  HEADER  HEADER  HEADER  HEADER 
        ----------------------  ----------------------  ----------------------  ----------------------
        BODY  BODY  BODY  BODY  BODY  BODY  BODY  BODY  BODY  BODY  -->
      <div class="frame-10">
        <div class="rectangle"></div>
        <div class="frame-11">
          <span class="news-title"
            >“Potencial unicornio”: una startup argentina fue reconocida como
            empresa “de impacto del mañana”</span
          >
        </div>
        <span class="news-content"
          >Se trata de Puna Bio, que recibió una distinción de la Fundación
          Norrsken, que organiza anualmente la selección de cien empresas de
          todo el mundo con mayor compromiso en la resolución de los desafíos
          del mundo</span
        >
      </div>
      <div class="flex-row">
        <div class="frame-12">
          <div class="frame-13">
            <div class="rectangle-14"></div>
            <div class="frame-15">
              <span class="contratar-colaboradores-startups"
                >Contratar colaboradores en startups: cómo la nueva Ley de Bases
                cambia las reglas</span
              >
              <div class="startups-argentina-desafios">
                <span class="las-startups">Las </span
                ><span class="startups">startups</span
                ><span class="las-startups-16">
                  en Argentina enfrentan desafíos únicos a la hora de contratar
                  y gestionar personas. La flexibilidad y la claridad legal son
                  esenciales para estas empresas, especialmente en sus primeras
                  etapas. La reciente </span
                ><span class="ley-bases-puntos-partida"
                  >Ley de Bases y Puntos de Partida para la Libertad de los
                  Argentinos (Ley 27742)</span
                ><span class="las-startups-17">
                  y su reglamentación han traído cambios que aportan claridad y
                  seguridad a las relaciones con trabajadores independientes,
                  monotributistas y contratistas, al tiempo que ofrecen
                  alternativas prácticas para las empresas.</span
                >
              </div>
            </div>
          </div>
          <div class="frame-18">
            <div class="frame-19">
              <div class="frame-1a">
                <div class="rectangle-1b"></div>
                <span class="bnew-reconoce-startups"
                  >BNEW 2024 reconoce a seis startups punteras de la nueva
                  economía</span
                >
              </div>
            </div>
            <div class="startups-argentina-desafios-1c">
              <span class="las-startups-1d">Las </span
              ><span class="startups-1e">startups</span
              ><span class="las-startups-1f">
                en Argentina enfrentan desafíos únicos a la hora de contratar y
                gestionar personas. La flexibilidad y la claridad legal son
                esenciales para estas empresas, especialmente en sus primeras
                etapas. La reciente </span
              ><span class="ley-bases-puntos-partida-20"
                >Ley de Bases y Puntos de Partida para la Libertad de los
                Argentinos (Ley 27742)</span
              ><span class="las-startups-21">
                y su reglamentación han traído cambios que aportan claridad y
                seguridad a las relaciones con trabajadores independientes,
                monotributistas y contratistas, al tiempo que ofrecen
                alternativas prácticas para las empresas.</span
              >
            </div>
          </div>
        </div>
        <div class="frame-22">
          <div class="frame-23">
            <span class="top-5-mejores">TOP 5 MEJORES</span>
          </div>
          <div class="frame-24">
            <div class="frame-25">
              <div class="frame-26">
                <span class="stripe">1. STRIPE</span
                ><span class="valoracion-95mm">Valoración: $95MM</span>
              </div>
              <div class="boton"><span class="ver-mas">ver +</span></div>
            </div>
            <div class="frame-27">
              <div class="frame-28">
                <span class="space-x">2. Space X</span
                ><span class="valoracion-74mm">Valoración: $74MM</span>
              </div>
              <div class="boton-29"><span class="ver-mas-2a">ver +</span></div>
            </div>
            <div class="frame-2b">
              <div class="frame-2c">
                <span class="stripe-2d">3. Palantir</span
                ><span class="valoracion">Valoración: $41MM</span>
              </div>
              <div class="boton-2e"><span class="ver-mas-2f">ver +</span></div>
            </div>
            <div class="frame-30">
              <div class="frame-31">
                <span class="stripe-32">4. Rivian</span
                ><span class="valoracion-33">Valoración: $29MM</span>
              </div>
              <div class="boton-34"><span class="ver-mas-35">ver +</span></div>
            </div>
            <div class="frame-36">
              <div class="frame-37">
                <span class="stripe-38">5. Instacart</span
                ><span class="valoracion-39">Valoración: $17.7MM</span>
              </div>
              <div class="boton-3a"><span class="ver-mas-3b">ver +</span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="frame-3c">
        <div class="frame-3d">
          <div class="frame-3e">
            <div class="frame-3f">
              <div class="rectangle-40"></div>
              <span class="marcas-alimentos"
                >Marcas de alimentos dominan el ranking de startups</span
              ><span class="ranking-marcas"
                >El Ranking de Marcas Emergentes 2024 de Jung von Matt START
                destaca a KoRo como líder, con un enfoque en salud y
                sostenibilidad.
              </span>
            </div>
            <div class="frame-41">
              <div class="rectangle-42"></div>
              <span class="marcas-alimentos-43"
                >North Valley, la comunidad de startups que nació con una charla
                de vecinos, desembarcó en Miami</span
              ><span class="ranking-marcas-44"
                >Su nombre es North Valley y ya cuenta con más de 4500 miembros,
                tras su fundación en marzo de 2023. Ahora, el objetivo es
                replicar el suceso en EE.UU.</span
              >
            </div>
            <div class="frame-45">
              <div class="rectangle-46"></div>
              <span class="marcas-alimentos-47"
                >13 startups que ofrecen trabajos remotos con sueldos de hasta
                US$240.000 en octubre de 2024</span
              ><span class="ranking-marcas-48"
                >Conocé las empresas que ofrecen teletrabajo por hasta US$20.000
                por mes y cómo aplicar a esos empleos.</span
              >
            </div>
          </div>
        </div>
        <div class="frame-49">
          <div class="rectangle-4a"></div>
          <div class="rectangle-4b"></div>
          <div class="rectangle-4c"></div>
        </div>
      </div>
      <div class="frame-4d">
        <div class="frame-4e">
          <div class="frame-4f">
            <div class="frame-50">
              <span class="cotizacion">COTIZACIÓN</span>
            </div>
            <div class="frame-51"><span class="startup">STARTUP</span></div>
            <div class="frame-52">
              <span class="marketing-digital">MARKETING DIGITAL</span>
            </div>
            <div class="frame-53"><span class="software">SOFTWARE</span></div>
            <div class="frame-54"><span class="fintech">FINTECH</span></div>
          </div>
          <div class="frame-55">
            <div class="frame-56">
              <span class="gestion-de-productos">GESTIÓN DE PRODUCTOS</span>
            </div>
            <div class="frame-57">
              <span class="regulaciones">REGULACIONES</span>
            </div>
            <div class="frame-58"><span class="prueba">PRUEBA</span></div>
            <div class="frame-59">
              <span class="innovacion">INNOVACIÓN</span>
            </div>
            <div class="frame-5a"><span class="alcance">ALCANCE</span></div>
          </div>
        </div>
      </div>
            <!-- BODY  BODY  BODY  BODY  BODY  BODY  BODY  BODY  BODY  BODY
      ----------------------  ----------------------  ----------------------  ----------------------
      FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER -->
      <div class="frame-5b">
        <div class="frame-5c">
          <div class="frame-5d">
            <div class="frame-5e"><span class="tendencia"></span></div>
            <div class="frame-5f">
              <span class="esenciales"></span>
            </div>
            <div class="frame-60"><span class="archivo"></span></div>
            <div class="frame-61">
              <span class="que-es-una-startup"></span>
            </div>
          </div>
          <div class="frame-62">
            <div class="frame-63">
              <div class="frame-64">
                <span class="quienes-somos">QUIÉNES SOMOS</span>
              </div>
              <div class="frame-65">
                <span class="tendencia-66">CONTACTANOS</span>
              </div>
            </div>
          </div>
          <div class="frame-70">
            <div class="capa-71">
              <div class="vector-72"></div>
              <div class="vector-73"></div>
              <div class="vector-74"></div>
              <div class="vector-75"></div>
              <div class="vector-76"></div>
            </div>
            <div class="frame-77">
              <span class="address"
                >Address: Av. Belgrano 1110 - Resistencia - Chaco</span
              >
            </div>
          </div>
        </div>
        <div class="capa-78">
          <div class="vector-79"></div>
          <div class="frame-7a">
            <div class="neust">
              <span class="copyright">© </span
              ><span class="neust-7b">Neust 2024</span>
            </div>
          </div>
          <div class="vector-7c"></div>
          <div class="vector-7d"></div>
          <div class="vector-7e"></div>
          <div class="vector-7f"></div>
          <div class="vector-7g"></div>
        </div>
      </div>
    </div>
  </body>
</html>