{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>news_page</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" />
    <link type="text/css" href="{% static 'css/news_page.css' %}" rel="stylesheet" />
  </head>
  <body>
    <div class="main-container">
      <div class="frame-variant">
        <div class="frame">
          <div class="frame-1">
            <div class="menu"></div>
            <span class="menu-2">Menu</span>
          </div>
          <div class="frame-3">
            <div class="search-icon"></div>
            <span class="buscar">Buscar</span>
          </div>
        </div>
        <div class="frame-4">
          <div class="capa">
            <div class="vector"></div>
            <div class="vector-5"></div>
            <div class="vector-6"></div>
            <div class="vector-7"></div>
            <div class="vector-8"></div>
          </div>
        </div>
        <div class="frame-9">
          <div class="frame-a">
            <span class="registrarme">REGISTRARME</span>
          </div>
          <div class="account-circle"></div>
        </div>
      </div>
      <div class="frame-b">
        <div class="frame-c">
          <div class="neust-tendencia">
            <span class="neust">NEUST ></span><span class="space"> </span
            ><span class="tendencia">TENDENCIA</span>
          </div>
        </div>
        <div class="frame-d">
          <div class="frame-e">
            <div class="frame-f">
              <div class="frame-10">
                <span class="date">9 de octubre de 2024</span
                ><span class="startup-title"
                  >“Potencial unicornio”: una startup argentina fue reconocida
                  como empresa “de impacto del mañana”</span
                ><span class="puna-bio"
                  >Se trata de Puna Bio, que recibió una distinción de la
                  Fundación Norrsken, que organiza anualmente la selección de
                  cien empresas de todo el mundo con mayor compromiso en la
                  resolución de los desafíos del mundo.</span
                >
              </div>
              <div class="frame-11">
                <div class="rectangle"><div class="rectangle-12"></div></div>
                <span class="nasdaq"
                  >La firma de capitales nacionales apareció en la pizarra de
                  Nasdaq</span
                >
              </div>
            </div>
            <span class="latin-america-unicorn"
              >Una firma argentina fue reconocida como la única empresa de
              América Latina con potencial para “convertirse en unicornio”. La
              distinción la realizó la Fundación Norrsken, que organiza
              anualmente la selección de 100 compañías de todo el mundo, de los
              rubros más diversos, con mayor compromiso en la resolución de los
              mayores desafíos del planeta.<br /><br />Se trata de Puna Bio, que
              nació hace cuatro años, con el foco puesto en la recolección de
              bacterias extremófilas de la región de la Puna, en el noroeste
              argentino. Días atrás fue incluida en una lista Impact/100, que
              destaca el potencial de aquellas compañías que contengan un mayor
              compromiso en la resolución de los mayores desafíos del mundo.<br /><br />“Hemos
              creado una lista completa que anticipamos contendrá los unicornios
              de impacto del mañana, según lo identificado por las principales
              firmas de capital de riesgo del mundo”, dijo Niklas Adalberth,
              fundador de Norrsken Foundation al presentar la nómina de
              Impact/100 que incluye a Puna Bio.<br /><br
            /></span>
            <div class="frame-13">
              <div class="rectangle-14"><div class="rectangle-15"></div></div>
              <span class="founders"
                >Elisa Bertini, Carolina Belfiore, María Eugenia Farías y Franco
                Martínez Levis, los fundadores de Puna Bio</span
              >
            </div>
            <span class="impact-100"
              >“Es un ranking de las startups más impactantes del mundo. Este
              año salió seleccionada Puna Bio y parte de ese reconocimiento era
              estar en la icónica pizarra de Nasdaq. Para nosotros significa un
              gran logro, habiendo sido la única elegida de Latinoamérica, donde
              el acceso a inversión es más complejo. Ahora se abre la brecha y
              el camino para otras startups de la región”, dijo a LA
              NACION María Eugenia Farías, cofounder y CRO de Puna Bio.<br /><br />Además,
              destacó la importancia del logro más allá del premio. “No es un
              hecho aislado: en Latinoamérica en general y en la Argentina en
              particular, está ocurriendo este boom de que los científicos nos
              volvemos emprendedores, haciendo este proceso de transformar la
              ciencia de mesada en un producto que puede ayudar, como el caso de
              nosotros, a la sustentabilidad del planeta y a la agricultura
              sustentable”, detalló.<br />Impact/100 nació con la idea de dar
              visibilidad a los emprendedores que están construyendo empresas
              con el potencial de convertirse en unicornios de impacto y
              cuyo trabajo ha impactado o impacta positivamente a millones de
              personas en el mundo.<br /><br />Cada años, se elabora a través de
              nominaciones de inversores y organizaciones sin ánimo de lucro
              rigurosamente seleccionados. Según comentaron, a las personas
              encargadas de las nominaciones se les pide que
              identifiquen startups emergentes y prometedoras en sus primeras
              etapas con el objetivo de dar protagonismo a emprendedores
              visionarios y transformadores, que aún no han captado la atención
              de empresas más consolidadas. “Puna Bio fue reconocida por su
              trabajo para potenciar cultivos y regenerar los suelos a través de
              una innovación biológica y sustentable”, dijeron.<br />Hoy, la
              compañía tiene dos productos en el mercado: Kunza (para semilla de
              soja) y Kanzama (para trigo) que son biofertilizantes elaborados a
              base de bacterias extremófilas aisladas de esa región. El año
              pasado la firma inauguró un centro de investigación en la
              Universidad San Pablo, en Tucumán (USP-T). La inversión, que se
              llevó adelante en un año y medio, fue de $150 millones.</span
            >
            <div class="frame-16">
              <div class="rectangle-17"><div class="rectangle-18"></div></div>
              <span class="lab-tucuman"
                >Laboratorio de Puna Bio, en Tucumán</span
              >
            </div>
            <span class="unique-world"
              >“Son únicos en el mundo porque se basan en extremófilos que son
              estas bacterias superpoderosas aisladas de la Puna. Kunza está en
              su tercera campaña de soja. Y Kanzama acaba de terminar el primer
              ciclo de trigo; lo lanzamos en marzo 2024. Creo que eso está
              relacionado a por qué terminamos en la pizarra de Nasdaq: fundamos
              la empresa en el 2020 y ya en el 2022 estábamos lanzando nuestro
              primer producto, algo que es bastante difícil en el
              emprendedurismo. Nuestra idea no terminó en ciencia, en un paper,
              sino en un camión, repartiéndose en todo el país. Y ahora también
              en Paraguay, porque ya obtuvimos la aprobación de ese país y muy
              pronto en Brasil”, finalizó.</span
            >
          </div>
          <div class="frame-19">
            <div class="frame-1a">
              <span class="trend">MÁS DE TENDENCIA</span>
            </div>
            <div class="frame-1b">
              <div class="frame-1c">
                <div class="rectangle-1d"></div>
                <span class="ai-startups"
                  >Las startups de IA reciben millonaria financiación en el
                  tercer trimestre</span
                >
              </div>
              <div class="frame-1e">
                <div class="rectangle-1f"></div>
                <span class="mining-pitch"
                  >Startups tecnológicas y mundo minero se reúnen en primer
                  Mining MAS Pitch</span
                >
              </div>
              <div class="frame-20">
                <div class="rectangle-21"></div>
                <span class="startup-factory"
                  >La fábrica de startups que prepara financiero chileno Vito
                  Sciaraffia, en Estados Unidos</span
                >
              </div>
              <div class="frame-22">
                <div class="rectangle-23"></div>
                <span class="cordoba-monitor"
                  >Startup Córdoba Monitor: las startups de la ciudad que están
                  implementando Inteligencia Artificial en sus negocios</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="frame-24">
        <div class="frame-25">
          <div class="frame-26">
            <span class="tambien-te-puede-interesar"
              >También te puede interesar:</span
            >
          </div>
          <div class="frame-27">
            <div class="frame-28">
              <div class="rectangle-29"></div>
              <span class="marcas-de-alimentos-dominan"
                >Marcas de alimentos dominan el ranking de startups</span
              ><span class="el-ranking-de-marcas-emergentes"
                >El Ranking de Marcas Emergentes 2024 de Jung von Matt START
                destaca a KoRo como líder, con un enfoque en salud y
                sostenibilidad.
              </span>
            </div>
            <div class="frame-2a">
              <div class="rectangle-2b"></div>
              <span class="marcas-de-alimentos-dominan-2c"
                >North Valley, la comunidad de startups que nació con una charla
                de vecinos, desembarcó en Miami</span
              ><span class="el-ranking-de-marcas-emergentes-2d"
                >Su nombre es North Valley y ya cuenta con más de 4500 miembros,
                tras su fundación en marzo de 2023. Ahora, el objetivo es
                replicar el suceso en EE.UU.</span
              >
            </div>
            <div class="frame-2e">
              <div class="rectangle-2f"></div>
              <span class="marcas-de-alimentos-dominan-30"
                >13 startups que ofrecen trabajos remotos con sueldos de hasta
                US$240.000 en octubre de 2024</span
              ><span class="el-ranking-de-marcas-emergentes-31"
                >Conocé las empresas que ofrecen teletrabajo por hasta US$20.000
                por mes y cómo aplicar a esos empleos.</span
              >
            </div>
          </div>
        </div>
        <div class="frame-32">
          <div class="rectangle-33"></div>
          <div class="rectangle-34"></div>
          <div class="rectangle-35"></div>
        </div>
      </div>
      <div class="frame-36">
        <div class="frame-37">
          <span class="todos-los-comentarios">TODOS LOS COMENTARIOS:</span>
          <div class="line"></div>
        </div>
        <div class="frame-38">
          <div class="frame-39">
            <div class="ellipse"></div>
            <div class="frame-3a">
              <div class="proc-hace-horas">
                <span class="proc">proc38138</span><span class="nbsp"> </span
                ><span class="nbsp-span"> • </span
                ><span class="horas-span">Hace 17 horas</span>
              </div>
              <span class="emprendimientos-span"
                >Estos emprendimientos de gente inteligente y profesional van a
                aparecer si a este gobierno logra consolidar sus ideas. Me
                siento orgulloso de esa gente. 💪</span
              ><span class="responder-span">RESPONDER ♥ 2</span>
            </div>
          </div>
          <div class="frame-div">
            <div class="ellipse-div"></div>
            <div class="frame-div-3b">
              <div class="araozt-div">
                <span class="araozt-span">Araozt</span
                ><span class="nbsp-span-3c"> </span
                ><span class="nbsp-span-3d"> • </span
                ><span class="dia-span">Hace 1 día</span>
              </div>
              <span class="excelente-span"
                >Excelente! felicitaciones para la empresa...talento tucumano de
                exportación...muchos éxitos...!</span
              ><span class="responder-span-3e">RESPONDER ♥ 2</span>
            </div>
          </div>
        </div>
      </div>
      <div class="frame-div-3f">
        <div class="frame-div-40">
          <div class="frame-div-41">
            <div class="frame-div-42">
              <span class="tendencia-span"></span>
            </div>
            <div class="frame-div-43">
              <span class="esenciales-span"></span>
            </div>
            <div class="frame-div-44">
              <span class="archivo-span"></span>
            </div>
            <div class="frame-div-45">
              <span class="startup-span"></span>
            </div>
          </div>
          <div class="frame-div-46">
            <div class="frame-div-47">
              <div class="frame-div-48">
                <span class="somos-span">QUIÉNES SOMOS</span>
              </div>
              <div class="frame-div-49">
                <span class="contactanos-span">CONTACTANOS</span>
              </div>
            </div>
          </div>
          <div class="frame-53">
            <div class="capa-54">
              <div class="vector-55"></div>
              <div class="vector-56"></div>
              <div class="vector-57"></div>
              <div class="vector-58"></div>
              <div class="vector-59"></div>
            </div>
            <div class="frame-5a">
              <span class="span-address"
                >Address: Av. Belgrano 1110 - Resistencia - Chaco</span
              >
            </div>
          </div>
        </div>
        <div class="capa-5b">
          <div class="vector-5c"></div>
          <div class="frame-5d">
            <div class="neust-5e">
              <span class="span-copyright">© </span
              ><span class="span-neust">Neust 2024</span>
            </div>
          </div>
          <div class="vector-5f"></div>
          <div class="vector-60"></div>
          <div class="vector-61"></div>
          <div class="vector-62"></div>
          <div class="vector-63"></div>
        </div>
      </div>
    </div>
  </body>
</html>
