{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;800;900&display=swap" />
    <link type="text/css" href="{% static 'css/search.css' %}" rel="stylesheet" />
  </head>
  <body>
    <div class="main-container">
      <div class="frame-variant">
        <div class="frame">
          <button class="frame-1">
            <div class="menu"></div>
            <span class="menu-2">Inicio</span>
          </button>
          <button class="frame-3">
            <div class="search-icon"></div>
            <span class="buscar-4">Buscar</span>
          </button>
        </div>
        <div class="frame-5">
          <div class="capa">
            <div class="vector"></div>
            <div class="vector-6"></div>
            <div class="vector-7"></div>
            <div class="vector-8"></div>
            <div class="vector-9"></div>
          </div>
        </div>
        <div class="frame-a">
          <button class="frame-b">
            <span class="registrarme">REGISTRARME</span>
          </button>
          <div class="account-circle"></div>
        </div>
      </div>
      <div class="frame-c">
        <div class="frame-d">
          <div class="quienes-somos">
            <span class="neust">NEUST ></span>
            <span class="empty"> </span>
            <span class="quienes-somos-e">QUIENES SOMOS</span>
          </div>
        </div>
      </div>
      <div class="frame-f">
        <div class="frame-10"><span class="registrar-me">BUSCAR</span></div>
        <div class="frame-11">
          <input class="frame-input" />
          <div class="search-icon-12"></div>
          <span class="buscar-en-neust">Buscar en NEUST</span>
        </div>
      </div>
      <div class="frame-13">
        <div class="frame-14">
          <div class="frame-15">
            <div class="frame-16">
              <span class="bnew-reconoce-startups">BNEW 2024 reconoce a seis startups punteras de la nueva economía</span>
              <span class="puna-bio-distincion">Se trata de Puna Bio, que recibió una distinción de la Fundación Norrsken, que organiza anualmente la selección de...</span>
            </div>
            <div class="rectangle"><div class="rectangle-17"></div></div>
          </div>
          <div class="line"></div>
          <div class="frame-18">
            <div class="frame-19">
              <span class="bnew-reconoce-startups-1a">BNEW 2024 reconoce a seis startups punteras de la nueva economía</span>
              <span class="puna-bio-distincion-1b">Se trata de Puna Bio, que recibió una distinción de la Fundación Norrsken, que organiza anualmente la selección de...</span>
            </div>
            <div class="rectangle-1c"><div class="rectangle-1d"></div></div>
          </div>
          <div class="line-1e"></div>
          <div class="frame-1f">
            <div class="frame-20">
              <span class="bnew-reconoce-startups-21">BNEW 2024 reconoce a seis startups punteras de la nueva economía</span>
              <span class="puna-bio-distincion-22">Se trata de Puna Bio, que recibió una distinción de la Fundación Norrsken, que organiza anualmente la selección de...</span>
            </div>
            <div class="rectangle-23"><div class="rectangle-24"></div></div>
          </div>
          <div class="line-25"></div>
          <div class="frame-26">
            <div class="frame-27">
              <span class="bnew-reconoce-startups-28">BNEW 2024 reconoce a seis startups punteras de la nueva economía</span>
              <span class="puna-bio-distincion-29">Se trata de Puna Bio, que recibió una distinción de la Fundación Norrsken, que organiza anualmente la selección de...</span>
            </div>
            <div class="rectangle-2a"><div class="rectangle-2b"></div></div>
          </div>
        </div>
        <div class="rectangle-2c"></div>
      </div>
      <div class="frame-2d">
        <div class="frame-2e">
          <div class="frame-2f">
            <div class="frame-30"><span class="tendencia"></span></div>
            <div class="frame-31"><span class="tendencia-esenciales"></span></div>
            <div class="frame-32"><span class="tendencia-archivo"></span></div>
            <div class="frame-33"><span class="tendencia-startup"></span></div>
          </div>
          <div class="frame-34">
            <div class="frame-35">
              <div class="frame-36">
                <span class="tendencia-quienes-somos">QUIÉNES SOMOS</span>
              </div>
              <div class="frame-37">
                <span class="tendencia-contactanos">CONTACTANOS</span>
              </div>
            </div>
            <div class="frame-38">
              <!-- Se eliminaron los botones de Facebook y "x" -->
            </div>
          </div>
          <div class="frame-40">
            <div class="capa-41">
              <div class="vector-42"></div>
              <div class="vector-43"></div>
              <div class="vector-44"></div>
              <div class="vector-45"></div>
              <div class="vector-46"></div>
            </div>
            <div class="frame-47">
              <span class="address">Address: Av. Belgrano 1110 - Resistencia - Chaco</span>
            </div>
          </div>
        </div>
        <div class="capa-48">
          <div class="vector-49"></div>
          <div class="frame-4a">
            <div class="neust-4b">
              <span class="copyright">© </span>
              <span class="neust-4c">Neust 2024</span>
            </div>
          </div>
          <div class="vector-4d"></div>
          <div class="vector-4e"></div>
          <div class="vector-4f"></div>
          <div class="vector-50"></div>
          <div class="vector-51"></div>
        </div>
      </div>
    </div>
  </body>
</html>
